@charset "UTF-8";
   body      {  box-sizing: border-box; }
   a         {  text-decoration:none; color:black;  }
   a:hover   {  text-decoration:none; color:rec;  }
   
   table         {  width:800px; margin:0 auto; }
   table, th, td {  border:1px solid black;
            border-collapse: collapse;
   }
   th, td            { padding:10px; }
   
   #menulist td {  text-align: center; }
   .left        { text-align : left;  }
   .center      { text-align : center;  }
   .right       { text-align : right;  }
   
   .green       { color: green;  }
   .red       { color: red; }
   
   
   
   
   
   
   
   
   
   
   
   